html, body {
  margin: 0;
  padding: 0;
  min-height: 100%;
  background: radial-gradient(ellipse at bottom, #1B2735 0%, #090A0F 100%);
  color: white;
  font-family: sans-serif;
}

#stars, #stars2, #stars3 {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: transparent;
  pointer-events: none;
  z-index: +2;
  will-change: transform;
}

#stars {
  box-shadow: 1px 2px #FFF, 4px 12px #FFF, 9px 9px #FFF;
  animation: animStar 50s linear infinite;
}

#stars2 {
  box-shadow: 5px 7px #FFF, 13px 1px #FFF, 600px 1400px #FFF;
  animation: animStar 100s linear infinite;
}

#stars3 {
  box-shadow: 200px 1500px #FFF, 1200px 1600px #FFF, 800px 1100px #FFF;
  animation: animStar 150s linear infinite;
}

@keyframes animStar {
  from {
    transform: translateY(0px);
  }
  to {
    transform: translateY(-2000px);
  }
}
